amqp==5.2.0
asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
billiard==4.2.0
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
decorator==5.1.1
Django==5.0.3
djoser==2.2.2
django-cors-headers==4.3.1
django-filter==24.1
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.93.5
drf-yasg==1.21.7
executing==2.0.1
idna==3.6
inflection==0.5.1
ipython==8.18.1
jedi==0.19.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kombu==5.3.7
matplotlib-inline==0.1.6
openapi==1.1.0
packaging==24.0
parso==0.8.3
pillow==10.2.0
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pure-eval==0.2.2
Pygments==2.17.2
django-phonenumber-field==2.0.0
PyJWT==2.8.0
phonenumbers==8.13.35
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
setuptools==69.2.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.12
